mixin stock-item(name, formattedName)
  div.form-group.row
    label.col-sm-4.col-form-label.col-form-label(for=formattedName+"Quantity")= name
    div.col-sm-6
      input.form-control.formcontrol(
        type="number"
        id=formattedName+"Quantity"
        name=formattedName+"Quantity"
        class="form-control"
       )
block stock    
  div.col
    h2 Stock
    hr
    h3 Shards
    +stock-item('Blaze Shard', 'blazeShard')
    +stock-item('Bright Shard', 'brightShard')
    +stock-item('Frost Shard', 'frostShard')
    +stock-item('Lucid Shard', 'lucidShard')
    +stock-item('Mythril Shard', 'mythrilShard')
    +stock-item('Power Shard', 'powerShard')
    +stock-item('Spirit Shard', 'spiritShard')
    +stock-item('Thunder Shard', 'thunderShard')
    h3 Gems
    +stock-item('Blaze Gem', 'blazeGem')
    +stock-item('Bright Gem', 'brightGem')
    +stock-item('Frost Gem', 'frostGem')
    +stock-item('Lucid Gem', 'lucidGem')
    +stock-item('Power Gem', 'powerGem')
    +stock-item('Spirit Gem', 'spiritGem')
    +stock-item('Thunder Gem', 'thunderGem')
