mixin synthesis-item(name, formattedName)
  div.form-group.row
    div.col-sm-4= name
    div.col-sm-8
      .form-check.form-check-inline
        input.form-check-input(
          type="checkbox"
          id=formattedName + "MixedCheckbox"
          value="option1"
        )
        label.form-check-label(for=formattedName + "MixedCheckbox") Mixed
      .form-check.form-check-inline
        input.form-check-input(
          type="checkbox"
          id=name + "IncludeCheckbox"
          value="option2"
        )
        label.form-check-label(for= formattedName + "IncludeCheckbox") Include Anyway

block synthesis-items
  div.col
    h2 Synthesis Items
    <hr>
    h3 Tier 1
    +synthesis-item('Mega Potion', 'megaPotion')
    +synthesis-item('Cottage', 'cottage')
    +synthesis-item('Energy Bangle', 'energyBangle')
    +synthesis-item('Power Chain', 'powerChain')
    +synthesis-item('Magic Armlet', 'magicArmlet')
    +synthesis-item('EXP Earring', 'expEarring')
    h3 Tier 2
    +synthesis-item('Mega-Ether', 'megaEther')
    +synthesis-item('Guard Earring', 'guardEarring')
    +synthesis-item('Angel Bangle', 'angelBangle')
    +synthesis-item('Golem Chain', 'golemChain')
    +synthesis-item('Rune Armlet', 'runeArmlet')
    +synthesis-item('Moogle Badge', 'moogleBadge')